body {
    background-image: url(imagens/image.png);
    background-repeat: repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

#video {
    border-radius: 15px;
}

section {
    margin: 25px;
}

#piru1 {
    display: flex;
    gap: 25px;
}

p {
    font-size: 25px;
}

#firstParagraph {
    max-width: 45%;
    font-size: 35px;
    max-height: 90%;
}

a {
    text-decoration: none;
    color: inherit;
    max-width: 250px;
    text-align: center;
}

a:hover,
h1:hover {
    transform: scale(1.2);
}

* {
    color: black;
    transition: 0.3s ease-in-out;
}

header {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
    font-size: 40px;
    text-align: left;
    margin-left: 25px;
    font-family: sans-serif;
}

menu {
    font-size: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

table,
tr,
th,
td {
    background-color: white;
    border: 2px solid black;
}

td {
    text-align: center;
}